.photographer {
	width: 30%;
	//	border: 1px solid blue;
	margin: $marginH 0 0 0;
	padding: 0;
	font-size: 0.8rem;
	z-index: 0;

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//padding: $margindefault;
		&__img {
			object-fit: cover;
			width: $photographer-avatar-dims;
			height: $photographer-avatar-dims;
			border-radius: 0.5 * $photographer-avatar-dims;
		}
		&__tags {
			display: flex;
			justify-content: center;
		}
		&__name {
			color: $colour-secondary;
			margin: 0;
		}

		&__location {
			display: flex;
			color: $colour-primary;
			margin: 0;
		}

		&__tagline {
			color: $colour-black;
			margin: 0;
		}

		&__price {
			color: $colour-grey;
			margin: 0;

			&__tags {
				margin: 0;
				z-index: 2;
			}
		}
	}
}
