.gallery__main {
	display: block;
	&__presentation {
		border: 1px solid red;
		flex-direction: row;
		display: flex;
		justify-content: space-around;

		&__info {
			border: 1px solid red;
			display: flex;
			flex-direction: column;

			&__name {
				border: 1px solid red;
				justify-content: flex-start;
			}

			&__location {
				border: 1px solid red;
				flex-direction: row;
				&__city {
					border: 1px solid red;
				}
				&__country {
					border: 1px solid red;
				}
			}

			&__tagline {
				border: 1px solid red;
			}

			&__tags {
				border: 1px solid red;
			}
		}
	}
}

//--------------------------------------------------------------------------
// <div class="gallery">
// 				<div class="gallery__container">
// 					<img
// 						src="images\Mimi\Animals_Rainbow.jpg"
// 						alt="jkhg"
// 						class="gallery__container__thumbnail"
// 					/>
// 				</div>
// 			</div>

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	width: 100%;
	height: 100%;
	border: 1px solid blue;
	&__container {
		// width: $gallery_container_dim;
		// height: $gallery_container_dim;
		margin: $marginH;
		//height: 300px;
		display: flex;
		flex-direction: column;
		height: 100%;
		border: 1px solid green;

		&__thumbnail {
			//display: flex;
			object-fit: cover;
			width: $gallery_container_dim;
			height: $gallery_container_dim;
			// width: 100%;
			// height: 100%;
			//	display: none;
		}
	}
	// 	<div class="gallery__info">
	// 	<div class="gallery__info__title">Ici, le titre</div>
	// 	<div class="gallery__info__likes">
	// 		<div class="gallery__info__likes__number">12</div>
	// 		<div class="gallery__info__likes__heart">
	// 			<i class="fas fa-heart"></i>
	// 			<!-- <i class="far fa-heart"></i> -->
	// 		</div>
	// 	</div>
	// </div>

	&__info {
		color: $colour-primary;
		display: flex;
		justify-content: space-between;
		margin: $margindefault;
		font-size: 1.2rem;

		// &__title {
		// }

		&__likes {
			display: flex;
			&__number {
				margin-right: 5px;
			}
			// &__heart {
			// }
		}
	}
}
