.gallery__main {
	display: block;
	&__presentation {
		//border: 1px solid red;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		&__info {
			display: flex;
			flex-direction: column;

			&__name {
				justify-content: flex-start;
			}

			&__location {
				flex-direction: row;
			}
		}
	}

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 60px;
		width: 100%;
		height: 100%;

		&__container {
			//article
			margin: $marginH;
			//display: flex;
			flex-direction: column;
			height: 100%;

			&__thumbnail {
				object-fit: cover;
				width: $gallery_container_dim;
				height: $gallery_container_dim;
				cursor: pointer;
			}

			&__info {
				color: $colour-primary;
				display: flex;
				justify-content: space-between;
				margin: $margindefault;
				font-size: 1.2rem;

				&__likes {
					display: flex;
					&__number {
						margin-right: 5px;
					}
					&__heart {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.bottom {
	@include colorway-black-on-salmon;
	border-radius: $radius-small $radius-small 0px 0px;

	position: fixed;
	bottom: 0px;
	right: 30px;
	//float: bottom;
	font-size: 1.2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 30px;
	padding: 20px;
	width: auto;
	//width: 200px;
	//height: 100px;
	&__likes {
		display: flex;
		//flex-direction: row;
		&__heart {
			margin-left: 5px;
		}
	}

	&__price {
		margin-left: 30px;
	}
}

.contact__modal {
	display: none;
}
.modal {
	//	display: none;
	&__bground {
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: $colour-light-grey;
		opacity: 0.5;
		animation-name: modalopen;
		animation-duration: $modal-duration;
	}

	&__container {
		// animation-name: modalopen;
		// animation-duration: $modal-duration;
		background-color: $colour-secondary;
		overflow: hidden;
		position: fixed;
		top: 0px;
		bottom: 30px;
		left: 0px;
		right: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30%;
		margin-right: 30%;
		//height: auto;
		//background: #232323;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		//border: 1px solid green;

		font-size: 1.5rem;

		&__head {
			display: flex;
			width: 100%;
			justify-content: space-between;
			//border: 1px solid blue;
		}
		&__name {
			//border: 1px solid red;
			width: 100%;
		}
		// &__fields {
		// 	//	width: 100%;
		// }
	}
}

#message {
	height: 200px;
}

///////////////////////////////lightBox modal
.lightboxBtn {
	position: absolute;
	margin: $lightbox-btn-margin;
	font-size: 3rem;
	width: $lightbox-btn-size;
	height: $lightbox-btn-size;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	//margin: $lightbox-side-padding;
}
.prev {
	left: 0px;
	//top: 40%;
}
.next {
	right: 0px;
	//top: 40%;
}
.close {
	top: 0px;
	right: 0px;
}
.lightbox__modal {
	color: $colour-primary;
	display: none;
	&__container {
		opacity: 1;
		margin: 0px;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: auto;
		height: auto;
		border-radius: 0px;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		&__mediaContainer {
			//border: 1px solid red;
			width: $lightbox-width;
			height: $lighbox-height;
			&__media {
				//display: flex;
				//margin: 10px auto;
				//	border: 1px solid green;
				object-fit: contain;
				width: 100%;
				height: 100%;
				//object-fit: cover;
				//max-height: 100%;
				max-width: $lightbox-width;
				max-height: $lighbox-height;
			}
		}
	}
}

///////////////////////////////END lightBox modal
