// <article class="photographer">
// 				<a href="" class="photographer__link">
// 					<img
// 						class="photographer__link__img"
// 						src="images\Mimi\Portrait_Nora.jpg"
// 						alt=""
// 					/>
// 					<h2 class="photographer__link__name">Mimi Keel</h2>
// 					<p class="photographer__link__location">London, UK</p>
// 					<p class="photographer__link__motto">
// 						Voir le beau dans le quotidien
// 					</p>
// 					<p class="photographer__link__price">400€/jour</p>
// 					<ul class="photographer__link__tags">
// 						<li><button class="tag">#Portait</button></li>
// 						<li><button class="tag">#Events</button></li>
// 						<li><button class="tag">#Travel</button></li>
// 						<li><button class="tag">#Animals</button></li>
// 					</ul>
// 				</a>
// 			</article>

.photographer {
	width: 25%;
	border: 1px solid blue;
	margin: $margindefault;
	padding: $margindefault;

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//padding: $margindefault;

		&__img {
			object-fit: cover;
			width: 300px;
			height: 300px;
			border-radius: 150px;
		}
		&__tags {
			display: flex;
			justify-content: center;
		}
		&__name {
			color: $colour-primary;
		}

		&__location {
			display: flex;
			color: $colour-secondary;
		}

		&__tagline {
			color: $colour-black;
		}

		&__price {
			color: $colour-grey;
		}
	}
}
