@charset "UTF-8";
/*Couleurs*/
/*valeurs de marges les plus utilisées*/
/*Radii*/
html,
body {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #901c1c;
}

/*FONTS*/
@font-face {
  font-family: "DMsans";
  src: url("../../polices/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /*END FONTS*/
}
/*END FONTS*/
html {
  font-family: "DMsans";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#content {
  position: absolute;
  top: 0px;
  left: 50%;
}

.header {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.header__logo {
  color: #901c1c;
  font-size: 2rem;
  font-weight: bolder;
}
.header__nav__ul {
  display: flex;
  flex-direction: row;
}
.header__gallery {
  display: block;
}

.photographer {
  width: 25%;
  margin: 20px 15px 20px 15px;
  padding: 20px 15px 20px 15px;
}
.photographer__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer__link__img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.photographer__link__tags {
  display: flex;
  justify-content: center;
}
.photographer__link__name {
  color: #db8876;
}
.photographer__link__location {
  display: flex;
  color: #901c1c;
}
.photographer__link__tagline {
  color: #000000;
}
.photographer__link__price {
  color: #525252;
}

.gallery__main {
  display: block;
}
.gallery__main__presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gallery__main__presentation__info {
  display: flex;
  flex-direction: column;
}
.gallery__main__presentation__info__name {
  justify-content: flex-start;
}
.gallery__main__presentation__info__location {
  flex-direction: row;
}
.gallery__main__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.gallery__main__gallery__container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery__main__gallery__container__thumbnail {
  object-fit: cover;
  width: 400px;
  height: 400px;
}
.gallery__main__gallery__container__info {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 20px 15px;
  font-size: 1.2rem;
}
.gallery__main__gallery__container__info__likes {
  display: flex;
}
.gallery__main__gallery__container__info__likes__number {
  margin-right: 5px;
}
.gallery__main__gallery__container__info__likes__heart {
  cursor: pointer;
}

.bottom {
  color: #000000;
  background: #db8876;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0px;
  right: 30px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  padding: 20px;
  width: auto;
}
.bottom__likes {
  display: flex;
}
.bottom__likes__heart {
  margin-left: 5px;
}
.bottom__price {
  margin-left: 30px;
}

.contact__modal {
  display: none;
}

.modal__bground {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #c4c4c4;
  opacity: 0.5;
  z-index: 1;
  animation-name: modalopen;
  animation-duration: 5s;
}
.modal__container {
  background-color: #db8876;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  top: 0px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
}
.modal__container__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modal__container__name {
  width: 100%;
}

#message {
  height: 200px;
}

.lightboxBtn {
  position: absolute;
  margin: 50px 100px 100px 100px;
  font-size: 3rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.close {
  top: 0px;
  right: 0px;
}

.lightbox__modal {
  color: #901c1c;
  display: block;
}
.lightbox__modal__container {
  z-index: 2;
  opacity: 1;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  border-radius: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.lightbox__modal__container__img {
  margin: 10px auto;
  border: 1px solid green;
  object-fit: contain;
  width: 1050px;
  height: 900px;
}

button {
  border-radius: 11px;
  margin-right: 5px;
  border: 1px solid #c4c4c4;
  color: #901c1c;
  background: #fff;
}
button:hover {
  background: #901c1c;
  color: #fff;
  border: 1px solid #901c1c;
}

.tag--On {
  background: #901c1c;
  color: #fff;
}
.tag--Off {
  color: #901c1c;
  background: #fff;
}

.pointer {
  cursor: pointer;
}

.gallery__main__presentation__btn {
  background: #901c1c;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 50px;
}
.gallery__main__presentation__btn:hover {
  color: #000000;
  background: #db8876;
  border: none;
}

/*# sourceMappingURL=style.css.map */
