@charset "UTF-8";
/*Couleurs*/
/*valeurs de marges les plus utilisées*/
html,
body {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #901c1c;
}

/*FONTS*/
@font-face {
  font-family: "DMsans";
  src: url("../../polices/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /*END FONTS*/
}
/*END FONTS*/
html {
  font-family: "DMsans";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: flex-start;
  border: 1px solid green;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.header__logo {
  color: #901c1c;
}
.header__nav__ul {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.header__gallery {
  display: block;
}

.photographer {
  width: 25%;
  border: 1px solid blue;
  margin: 20px 15px 20px 15px;
  padding: 20px 15px 20px 15px;
}
.photographer__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer__link__img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.photographer__link__tags {
  display: flex;
  justify-content: center;
}
.photographer__link__name {
  color: #901c1c;
}
.photographer__link__location {
  display: flex;
  color: #db8876;
}
.photographer__link__tagline {
  color: #000000;
}
.photographer__link__price {
  color: #525252;
}

.gallery__main {
  display: block;
}
.gallery__main__presentation {
  border: 1px solid red;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.gallery__main__presentation__info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.gallery__main__presentation__info__name {
  border: 1px solid red;
  justify-content: flex-start;
}
.gallery__main__presentation__info__location {
  border: 1px solid red;
  flex-direction: row;
}
.gallery__main__presentation__info__location__city {
  border: 1px solid red;
}
.gallery__main__presentation__info__location__country {
  border: 1px solid red;
}
.gallery__main__presentation__info__tagline {
  border: 1px solid red;
}
.gallery__main__presentation__info__tags {
  border: 1px solid red;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}
.gallery__container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid green;
}
.gallery__container__thumbnail {
  object-fit: cover;
  width: 400px;
  height: 400px;
}
.gallery__info {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 20px 15px;
  font-size: 1.2rem;
}
.gallery__info__likes {
  display: flex;
}
.gallery__info__likes__number {
  margin-right: 5px;
}

button {
  border-radius: 11px;
  margin-right: 5px;
  border: 1px solid #901c1c;
  color: #901c1c;
  background: #fff;
}
button:hover {
  background: #901c1c;
  color: #fff;
}

.tag--On {
  background: #901c1c;
  color: #fff;
}
.tag--Off {
  color: #901c1c;
  background: #fff;
}

.gallery__main__presentation__btn {
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
