@mixin mobile {
	@media screen and (max-width: 800px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 801px) {
		@content;
	}
}

@mixin colorway-red-on-white {
	color: $colour-primary;
	background: $colour-white;
}

@mixin colorway-white-on-red {
	background: $colour-primary;
	color: $colour-white;
}

@mixin colorway-black-on-salmon {
	color: $colour-black;
	background: $colour-secondary;
}
