/*Couleurs*/
$colour-primary: #901c1c;
$colour-secondary: #db8876;
$colour-tertiary: #d3573c;
$colour-grey: #525252;
$colour-light-grey: #c4c4c4;
$colour-white: #fff;
$colour-black: #000000;

/*valeurs de marges les plus utilisées*/
$marginH: 15px;
$marginV: 20px;
$margindefault: $marginV $marginH $marginV $marginH;

$gallery_container_dim: 400px;

/*Radii*/
$radius-small: 5px;

//modal
$modal-duration: 5s;

//lightbox
$lightbox-btn-size: 20px;
$lightbox-btn-margin: 100px 300px 100px 300px;
