/*Couleurs*/
$colour-primary: #901c1c;
$colour-secondary: #db8876;
$colour-tertiary: #d3573c;
$colour-grey: #525252;
$colour-light-grey: #c4c4c4;
$colour-white: #fff;
$colour-black: #000000;
$darken-primary: darken($colour-primary, 5%);

/*valeurs de marges les plus utilisées*/
$marginH: 15px;
$marginV: 20px;
$margindefault: $marginV $marginH $marginV $marginH;

$gallery_container_dim: 400px;

/*Radii*/
$radius-small: 5px;

//modal
$modal-duration: 5s;

//lightbox
$lightbox-btn-size: 20px;
$lightbox-btn-margin: 50px 100px 100px 100px;
$lightbox-width: 1050px;
$lighbox-height: 900px;

$photographer-avatar-dims: 180px;

$input-fontsize: 1.2rem;

$label-width: 65px;

$select-radius: 5px;
$option-width: 100px;
$option-height: 30px;
