button {
	border-radius: 11px;
	margin-right: 5px;
	border: 1px solid $colour-light-grey;
	@include colorway-red-on-white;
	&:hover {
		@include colorway-white-on-red;
		border: 1px solid $colour-primary;
	}
}

.tag {
	&--On {
		@include colorway-white-on-red;
	}

	&--Off {
		@include colorway-red-on-white;
	}
}
.pointer {
	cursor: pointer;
}
.gallery__main__presentation__btn {
	@include colorway-white-on-red;
	border-radius: $radius-small;

	border: none;
	height: 50px;
	&:hover {
		@include colorway-black-on-salmon;
		border: none;
	}
}
