button //for tag buttons
{
	border-radius: 11px;
	margin-right: 5px;
	border: 1px solid $colour-light-grey;
	cursor: pointer;
	@include colorway-red-on-white;
	&:hover {
		@include colorway-white-on-red;
		border: 1px solid $colour-primary;
	}
}

.tag {
	&--On {
		@include colorway-white-on-red;
	}

	&--Off {
		@include colorway-red-on-white;
	}
}
.pointer {
	cursor: pointer;
}
.gallery__main__presentation__btn {
	@include gallery-buttons;
	&:hover {
		@include colorway-black-on-salmon;
		border: none;
	}
}

.btn-submit {
	@include gallery-buttons;
	font-size: 1rem;
	padding: 0px 50px;
	margin-top: $marginH;
}

#btnClose {
	//contactmodal
	color: white;
	font-size: 2rem;
}
